.div_task_all {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.div_task {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  margin-right: 5px;
  &:hover {
    background-color: #3f3e3ea6;
    border-radius: 10px;
  }
}
.div_completed_task {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  position: relative;
  &:hover {
    background-color: #3f3e3ea6;
    border-radius: 10px;
  }
}
.div_completed_task::before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  border-radius: 10px;
}
.div_task_text {
  display: flex;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--main-gray);
  width: 100%;
  margin-left: 5px;
  height: 40px;
}
.p_title_task {
  color: white;
  margin: 0;
  font-size: 16px;
}
.div_completed_task p {
  color: var(--main-gray);
  margin: 0;
  font-size: 16px;
}
.p_title_task_none {
  color: var(--main-gray2);
}

.div_task_input_field {
  background-color: transparent;
  color: white;
  border: none;
  outline: 0;
  width: auto;
}
.div_task_input_checkbox {
  margin: 0;
  margin-left: 10px;
  width: 17px;
  height: 17px;
  appearance: none;
  position: relative;
  background: transparent;
  border-radius: 5px;
  border: 1.75px solid var(--main-gray);
  &:hover {
    cursor: pointer;
  }
}
.div_task_input_checkbox.complate {
  border: 1.75px solid var(--main-gray);
}
.div_task_input_checkbox.small {
  border-color: #023cf8;
}
.div_task_input_checkbox.normal {
  border-color: #c5c543;
}
.div_task_input_checkbox.high {
  border-color: #b92020;
}
.div_task_input_checkbox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 26px;
  border-radius: 2.5px;
}
.div_task_input_checkbox:checked::after {
  background-color: var(--main-gray);
}
.div_task_more {
  position: relative;
}
.button_task_more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}
.button_task_more svg {
  height: 40px;
  &:hover {
    fill: white;
  }
}
.input_edit_task {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 16px;
  outline: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.div_no_tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  gap: 10px;
}
.div_no_tasks p {
  margin: 0;
  color: white;
  font-size: 25px;
}
.div_no_tasks p:nth-child(2) {
  margin: 0;
  color: var(--main-gray2);
  font-size: 16px;
}
.div_twisted_menu {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}
.span_info_count_task {
  color: #ffffff;
  height: auto;
}
.span_twisted_more {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 12.5px;
  height: 12.5px;
  border: 0;
  padding: 0;
  transform: rotate(90deg);
  transition: 0.3s ease;
}
.span_twisted_more_active {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 12.5px;
  height: 12.5px;
  border: 0;
  padding: 0;
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.span_twisted_more svg,
.span_twisted_more_active svg {
  width: 12.5px;
  height: 12.5px;
}
.span_twisted_more path,
.span_twisted_more_active path {
  fill: #5e5d5de3;
}
