.div_modal_container {
  background-color: var(--main-black1);
  z-index: 100;
  position: absolute;
  inset: 35px 0px 0px -180px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid var(--main-gray);
}
.div_modal_content {
  z-index: 101;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.div_line {
  background-color: var(--main-gray);
  width: 100%;
  height: 1px;
}

.div_priority_task {
  display: flex;
  padding: 0 10px;
}
.div_modal_container p {
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
}
.div_priority_task {
  padding-top: 5px;
}
.div_modal_content button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: #ffffff0a;
  }
}
.div_modal_content button.active {
  background-color: #0d0d0e54;
}

.div_modal_content svg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div_modal_content svg:hover {
  cursor: pointer;
}
.div_bottom_panel {
  display: flex;
  flex-direction: column;

  padding-left: 5px;
  padding-right: 5px;
}
.div_bottom_panel button {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.div_bottom_panel .delete_button:hover {
  background-color: #ff000015;
}
.div_bottom_panel .delete_button:hover p,
.div_bottom_panel .delete_button:hover path {
  color: red;
  fill: red;
}

.div_bottom_panel svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.div_bottom_panel path {
  fill: white;
}
.div_bottom_panel p {
  color: white;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
