.header_container {
  width: 60px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: #222222;
}
.header_div {
  background-color: var(--main-black);
  border: 1px solid var(--main-gray);
  border-radius: 20px;
  height: 98%;
  width: 60px;
}
