.div_task_sector_container {
  padding: 20px;
}
.div_fields_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div_field_add_task {
  display: flex;
  gap: 5px;
}
.div_field_add_task_input {
  height: 40px;
  width: 100%;
  font-size: 15px;
  border: none;
  box-sizing: border-box;
  color: white;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #ffffff0a;
  outline: 0;
  &:focus {
    border: 1px solid #0077ff;
  }
}

.div_add_task_more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.div_add_task_more_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: #ffffff0a;
  }
}

.div_field_add_task_button {
  color: #fcfcf9;
  font-size: 18px;
  height: 40px;
  width: 7%;
  background-color: #ffffff0a;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--main-blue);
  }
}
.div_field_add_task_button:disabled {
  &:hover {
    box-shadow: 0 0 0 1px red;

    cursor: not-allowed;
  }
}
