.div_task_all {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.div_task {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  animation-name: taskAppearance;
  animation-duration: 500ms;
  &:hover {
    background-color: #3f3e3ea6;
    border-radius: 10px;
  }
}
@keyframes taskAppearance {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

.div_task_text {
  display: flex;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--main-gray);
  width: 100%;
  margin-left: 5px;
  height: 40px;
}
.p_title_task {
  color: white;
  margin: 0;
  font-size: 16px;
}
.p_title_task_none {
  color: var(--main-gray2);
}

.div_task_input_field {
  background-color: transparent;
  color: white;
  border: none;
  outline: 0;
  width: 100%;
}
.div_task_input_checkbox {
  margin: 0;
  margin-left: 10px;
  width: 17px;
  height: 17px;
  appearance: none;
  position: relative;
  background: transparent;
  border-radius: 5px;
  border: 1.75px solid var(--main-gray);

  &:hover {
    cursor: pointer;
  }
}

.div_task_input_checkbox::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  font-size: 26px;
  border-radius: 5px;
  transform: scale(0);
  transition: 0.15s;
}
.div_task_input_checkbox:checked::after {
  background-color: white;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.button_task_more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 5px;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}
.button_task_more svg {
  height: 40px;
  &:hover {
    fill: white;
  }
}
.input_edit_task {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 16px;
  outline: none;
  margin: 0;
  padding: 0;
}
